/* General styling for body and html */
body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
}

/* Container heading styles */
.container > h2 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 100px;
}

.container > h5 {
    margin: 40px 0 -15px 0;
}

/* Preformatted text styling */
pre {
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}

/* Back-to-top button */
#myBtn {
    display: none;
    position: fixed;
    bottom: 162px;
    right: 15px;
    z-index: 99;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #212121;
    cursor: pointer;
    padding: 15px 10px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 520;
    box-shadow: 0px 0px 10px #000;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

/* Hover effect for back-to-top button */
#myBtn:hover {
    background-color: #212121;
    color: white;
    box-shadow: 0px 0px 15px #000;
}
